<html lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Order Time Messager</h3>
        </div>

        <div class="jumbotron">
            {% if message %}
            <h5 class="text-success">{{ message }}</h5>
            {% endif %}

            {% if error %}
            <h5 class="text-danger">{{ error }}</h5>
            {% endif %}

            <h7>Enter Order Number and Cell Phone Number:</h7>
            <form method="post">
                Order Number: <input type="number" name="ordernumber" id="ordernumber" class="form-control" placeholder="Order Number" required autofocus>
                Cell Phone Number: <input type="text" name="cellphonenumber" id="cellphonenumber" class="form-control" placeholder="Cell Phone Number" required autofocus>

                <button id="sendsms" formaction="{{ url_for('send_sms') }}" class="btn btn-md btn-primary btn-block" type="submit">Send SMS</button>
                <button id="confirmpickup" formaction="{{ url_for('confirm_pickup') }}" class="btn btn-md btn-primary btn-block" type="submit">Confirm Pickup</button>
            </form>
        </div>

        <footer class="footer">
            <p>&copy; Waittime 2018</p>
        </footer>

    </div>

</body>

</html>